.right
  .right_column
    .right_column_nation
      国家
    .right_column_loc
      移動
    .right_column_name
      キャラクター名
    .right_column_atr
      属性
    .right_column_skill
      スキル
    .right_column_abitype
      分類
    .right_column_tar
      対象
    .right_column_effect
      アビリティ
    .right_column_ev
      効果値
  .right2
    - @flowers.each do |flower|
      = link_to flower_path(flower.id) do
        - if flower.year == 2015
          .right2_main
            .right2_main_nation
              = flower.nation
            .right2_main_loc
              = flower.locomotion
            .right2_main_name
              = flower.name
            .right2_main_atr
              = flower.job
            .right2_main_skill
              = flower.skill
            .ability
              .ability-box
                .ability-box_1
                  = flower.a1
                .ability-box_2
                  = flower.a2
                .ability-box_3
                  = flower.a3
                .ability-box_4
                  = flower.a4
              .ability-box
                .ability-box_1
                  = flower.b1
                .ability-box_2
                  = flower.b2
                .ability-box_3
                  = flower.b3
                .ability-box_4
                  = flower.b4
              .ability-box
                .ability-box_1
                  = flower.c1
                .ability-box_2
                  = flower.c2
                .ability-box_3
                  = flower.c3
                .ability-box_4
                  = flower.c4
              .ability-box
                .ability-box_1
                  = flower.d1
                .ability-box_2
                  = flower.d2
                .ability-box_3
                  = flower.d3
                .ability-box_4
                  = flower.d4
              .ability-box
                .ability-box_1
                  = flower.e1
                .ability-box_2
                  = flower.e2
                .ability-box_3
                  = flower.e3
                .ability-box_4
                  = flower.e4
              .ability-box
                .ability-box_b1
                  = flower.f1
                .ability-box_b2
                  = flower.f2
                .ability-box_b3
                  = flower.f3
                .ability-box_b4
                  = flower.f4
          -# .ability-box
          -#   .ability-box_1
          -#     = @abilities[flower.ability_ids[1]-1].a1
          -#   .ability-box_2
          -#     = @abilities[flower.ability_ids[1]-1].tar
          -#   .ability-box_3
          -#     = @abilities[flower.ability_ids[1]-1].effect
          -#   .ability-box_4
          -#     = @abilities[flower.ability_ids[1]-1].weight
          -# .ability-box
          -#   .ability-box_1
          -#     = @abilities[flower.ability_ids[2]-1].a1
          -#   .ability-box_2
          -#     = @abilities[flower.ability_ids[2]-1].tar
          -#   .ability-box_3
          -#     = @abilities[flower.ability_ids[2]-1].effect
          -#   .ability-box_4
          -#     = @abilities[flower.ability_ids[2]-1].weight
          -# .ability-box
          -#   .ability-box_1
          -#     = @abilities[flower.ability_ids[3]-1].a1
          -#   .ability-box_2
          -#     = @abilities[flower.ability_ids[3]-1].tar
          -#   .ability-box_3
          -#     = @abilities[flower.ability_ids[3]-1].effect
          -#   .ability-box_4
          -#     = @abilities[flower.ability_ids[3]-1].weight
          -# .ability-box
          -#   .ability-box_1
          -#     = @abilities[flower.ability_ids[4]-1].a1
          -#   .ability-box_2
          -#     = @abilities[flower.ability_ids[4]-1].tar
          -#   .ability-box_3
          -#     = @abilities[flower.ability_ids[4]-1].effect
          -#   .ability-box_4
          -#     = @abilities[flower.ability_ids[4]-1].weight
          -# .ability-box
          -#   .ability-box_b1
          -#     = @abilities[flower.ability_ids[5]-1].a1
          -#   .ability-box_b2
          -#     = @abilities[flower.ability_ids[5]-1].tar
          -#   .ability-box_b3
          -#     = @abilities[flower.ability_ids[5]-1].effect
          -#   .ability-box_b4
          -#     = @abilities[flower.ability_ids[5]-1].weight


            
        -# .ability-box
        -#   .ability-box_1
        -#     = @abilities[flower.ability_ids[5]-1].name
        -#   .ability-box_2
        -#     = @abilities[flower.ability_ids[5]-1].name
        -#   .ability-box_b
        -#     = @abilities[flower.ability_ids[5]-1].name
        -#   .ability-box_4
        -#     = @abilities[flower.ability_ids[5]-1].name
  -# .right_main
  -#   .right_main_nation
  -#     リ
  -#   .right_main_loc
  -#     550
  -#   .right_main_name
  -#     コデマリ(イースター)
  -#   .right_main_atr
  -#     突
  -#   .right_main_skill
  -#     全体変則
  -#   .ability
  -#     .ability-box
  -#       .ability-box_1
  -#         攻
  -#       .ability-box_2
  -#         全体
  -#       .ability-box_3
  -#         攻撃力上昇
  -#       .ability-box_4
  -#         25%
  -#     .ability-box
  -#       .ability-box_1
  -#         威
  -#       .ability-box_2
  -#         全体
  -#       .ability-box_3
  -#         スキルダメージ上昇
  -#       .ability-box_4
  -#         15%